
#titulo {
    font-size: 100px;
    background-color: rgb(126, 139, 164);
    font-family: Arial, Helvetica, sans-serif;
}

#Parrafo {
    font-size: 30px;
    background-color: rgb(180, 133, 184);
}