<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 6</title>
    <link rel="stylesheet" href="./bootstrap/bootstrap-5.2.2-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./styles/ejercicio6.css" />
</head>
</head>
<body>

    <!-- HEADER -->

    <div class="bg-primary">
        <h2 class="mb-0 mx-5 py-3 text-white h1">
            Esto es una etiqueta h2
        </h2>
    </div>
    
    <!-- HEADER -->

    <!-- NAV -->

    <div class="container container-content bg-secondary pe-5">
        <div class="py-5 ps-5">
            <div class="row text-white">
              <div class="col">
                Inicio
              </div>
              <div class="col">
                paginaq
              </div>
              <div class="col">
                pagina2
              </div>
              <div class="col">
                pagina3
              </div>
              <div class="col">
                contacto
              </div>
            </div>
          </div>
    </div>

    <!-- NAV -->

    <!-- CONTAINER -->

    <div class="container d-flex">

        <div class="col-11">

            <div class="container border-bottom">
                <h3 class="h2 mb-3">Productos</h3>
            </div>

            <div class="mt-2 col-10">
                <div class="row text-white my-3 col-pos">
                  <div class="col bg-primary d-flex p-2 bd-highlight text-black">
                    producto1
                  </div>
                  <div class="col bg-warning d-flex p-2 bd-highlight text-black mx-3">
                    producto2
                  </div>
                  <div class="col bg-danger d-flex p-2 bd-highlight text-black">
                    producto3
                  </div>
                </div>
                <div class="row text-white my-3 col-pos">
                    <div class="col bg-primary d-flex p-2 bd-highlight text-black">
                      producto1
                    </div>
                    <div class="col bg-warning d-flex p-2 bd-highlight text-black mx-3">
                      producto2
                    </div>
                    <div class="col bg-danger d-flex p-2 bd-highlight text-black">
                      producto3
                    </div>
                  </div>
                  <div class="row text-white my-3 col-pos">
                    <div class="col bg-primary d-flex p-2 bd-highlight text-black">
                      producto1
                    </div>
                    <div class="col bg-warning d-flex p-2 bd-highlight text-black mx-3">
                      producto2
                    </div>
                    <div class="col bg-danger d-flex p-2 bd-highlight text-black">
                      producto3
                    </div>
                  </div>
              </div>
            
        </div>

        <div class="container col-4 border-start">
            <h3>Barra lateral</h3>
        </div>

    </div>

    <!-- CONTAINER -->

    <!-- FOOTER -->

    <div class="bg-info">
        <p class="mx-3 py-3 text-black mb-0">Esta sección es de footer</p>
    </div>

    <!-- FOOTER -->



    <script src="./bootstrap/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>