*{
    margin: 0;
    padding: 0;
}

.padre{
    border: 3px dashed green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 200px;
    }

.menu{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.logo{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 100px;
}

.cuadro{
    width: 80px;
    height: 80px;
}

.uno{
    background-color: chartreuse;
}

.dos{
    background-color: blueviolet;
}

.tres{
    background-color: darkkhaki;
}

/* Justify-content - Horizontal
    Aling-items - Vertical
    row - fila */

/* column - columna 
    justify-content - vertical
    aling-items - horizontal*/

/* media query / queries
@media{
 }
 
  condicional, si se cumple una condicion, entonces se aplica lo que hay dentro de la regla
  
  450px - celular
  800px - tablet
  1200px - pantalla PC
  
  */

  @media (max-width: 800px) {
        .padre{
            background-color: blueviolet;
            flex-direction: column;
            height: auto;
        }

        h3{
            display: none;
        }

        .logo{
            flex-direction: column;
            align-items: center;
        }
        .menu{
            flex-direction: column;
            align-items: center;
        }
  }
