

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@300;500;700&display=swap');

.padre{
    font-size: 20px;
}


.parrafo1{
    font-family: 'Comforter Brush', cursive;
    font-weight: 600;
    font-size: 1.5em;
}

.parrafo2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px
}

/* root em: toma en cuenta el tamaño de fuente fijado por el navegador */

